/* import Plus Jakarta Sans font from google font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap");

/* import style.css for custom styles */
@import url("./Style.css");

/* import tailwind classes to project */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    color: #fff;
  }
  body {
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-image: url("/assets/images/body-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

@layer components {
  /* styles for icon box  */
  .icon-box {
    @apply w-12 h-12 bg-primary inline-flex text-white justify-center items-center text-lg rounded-2xl;
    box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem,
      rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
  }

  /* styles for header search input */
  .header-search-input {
    @apply w-full placeholder:text-xs bg-transparent  py-2.5 rounded-tr-2xl rounded-br-2xl text-white text-sm outline-none transition-all ease-ease duration-200 focus:pl-2.5;
  }
  .header-search-input:focus {
    box-shadow: rgb(98, 143, 194) 0rem 0rem 0rem 0.125rem;
  }
}

@layer utilities {
  .flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
